.foot {
    width: 100%;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    font-style: italic;
    position: fixed;
}
.foot h2 {
  
    color: var(--white);
    margin-left: 10px;
   padding: 5px;
   
}
.foot a {
    text-decoration: none;
}

.foot a:hover {
opacity: 0.7;
}